<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fa-poc-for-low-latency.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4b46562d-6ca1-4f73-af11-311b72fd1399/resourceGroups/fa-poc-for-low-latency_group/providers/Microsoft.Web/sites/fa-poc-for-low-latency</ResourceId>
    <UserName>$fa-poc-for-low-latency</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fa-poc-for-low-latency.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>